---
import Layout from '../layouts/Layout.astro';
import IndexContent from "../content/index-content.md"
const pageTitle = "Mrs. B's Cookies";
---
<Layout pageTitle={pageTitle}>
    <p align='center'>
    Beautifully crafted and delicious cookies in
    Albuquerque, NM
        </p>
    <div class="gif">
        <img src="/images/rainbow.jpeg" role="presentation" width="400" decoding="async" alt="Description here...">
    </div>
    <IndexContent />

</Layout>
