---
const year = new Date().getFullYear();
---
<footer>
    <div class="center">
        <ul class="footer">
            <li class="icon__btn"><a class="icon__link" href="https://www.instagram.com/mrs.bs.cookies?utm_source=ig_web_button_share_sheet&igsh=dWgyaXl5Ymdwc3E5" ><span class="instagram-icon">Instagram</span></a></li>
            <li class="icon__btn"><a class="icon__link" href="mailto: mrsbscookies505@gmail.com"><span class="mail-icon">Email</span></a></li>
<!--<li class="icon__btn"><a class="icon__link" href="#" target="_blank"><span class="facebook">Facebook</span></a></li>-->
        </ul>
        <small>&copy; {year} Mrs. B's Cookies. All Rights Reserved.</small>
    </div>
</footer>

