---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">Mrs. B's Cookies</a>
    </div>
    <div class="navbar__menu">
        <a href="/gallery/">Gallery</a>
        <a href="/contact/">Contact</a>
    <!--<a href="https://github.com/ttomczak3/Milky-Way" target="_blank">GitHub</a>-->
        <ThemeIcon />
    </div>
</div>

